# --- Configurações do Banco de Dados Oracle (Thin Mode / SQLAlchemy) ---
DB_USER=seu_usuario
DB_PASSWORD=sua_senha
DB_DSN=seu_dsn_host:port/service_name

# --- Configurações do SMPC Service (Oracle DB Fallback) ---
ORACLE_HOST=localhost
ORACLE_PORT=1521
ORACLE_SERVICE=ORCL
ORACLE_USER=root
ORACLE_PASSWORD=root

# --- Configurações de Mensageria da Nuvem (AWS SNS & SES) ---
AWS_DEFAULT_REGION=us-east-1
AWS_ACCESS_KEY_ID=sua_aws_access_key
AWS_SECRET_ACCESS_KEY=sua_aws_secret_access_key
AWS_SES_SENDER=alertas@farmtech.com
AWS_SES_RECIPIENT=operador@farmtech.com